
*{
    box-sizing: border-box;
    }
/* pc */
.big-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header{
    background-color:rgb(64, 52, 52);
    position: sticky;
    color:white ;
    display:flex;  
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 20%;
    gap: 3%;
    }

.navbar{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 300;
    display: flex;
    justify-content:space-between;
}

#list-bar{
    font-family: 'Roboto', sans-serif;;
    list-style: none;
    display: flex;
    gap: 15%;

}

#top-two{
    color: rgba(255, 255, 255, 0.5);
}

#top-three{
    color: rgba(255, 255, 255, 0.25);
}

#top-four{
    color: rgba(255, 255, 255, 0.5);   
}

#search{
    display: flex;
    justify-content:flex-end;
    margin-left: auto;
    gap: 2%;
}

#form{
    border-radius: 5px;
    height: 40px;
    color: rgba(206, 212, 218, 1);
}

#button-search{
    border:2px solid green;
    color: green;
    background-color:rgba(52, 58, 64, 1);
    border-radius: 5px;
    height: 40px;
    justify-content: center;
    align-content: center;
}

#main-text{
    background-color:rgba(233, 236, 239, 1) ;
    display: flex;
    flex-direction: column;
    padding: 80px;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    width: 100%;
    height: 35%;
    gap: 1%;
}

#main-titel{
    display: flex;
    font-size:80px;
    font-weight: 50;
    
}

#button-learn{
    width: 150px;
    height: 48px;
    display: flex;
    color: aliceblue;
    background-color:rgba(0, 123, 255, 1);
    align-items: center;
    justify-content: center;
    border: 1px solid #007BFF;
    border-radius: 4.8px;
    font-family: 'Roboto', sans-serif
}

#text-top{
    display: flex;
}


#boxs-text{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    margin: auto;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 35%;
    gap: 1%;
    padding: 80px;
}
    

.heading{
    display: flex;
    margin-right: 30px;
}

.text{
   
    display: flex;
}

button{
    background-color: rgba(108, 117, 125, 1);
    border:solid 1px rgba(108, 117, 125, 1)  ;
    color: aliceblue;
    width: 125px;
    height: 38px;
}

#footer{
    width: 100%;
    height: 20%;
    gap: 1%;
}
#company{
   
    margin-left: 50px;
    padding: 0px;
}

#hr{
    margin: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0px;
    border:solid 1px rgba(159, 138, 138, 0.196);;
}


/* mobile */
@media screen and  (max-width:391px){
 
    #header {
        display: flex;
        flex-direction: row;
        margin-left: 0%;
        margin-right: 0%;
        height: 20%;
    }
    
    #main-titel{
        font-size:60px;
        font-weight: 20;
    }
    
    .navbar{
        font-family: 'Roboto', sans-serif;
        font-size: larger;
        font-weight: 300;
        display: flex;
        justify-content:space-between;
    }
    
    #search{
        display: none;
    }

    #form{
        display: none;
    }

    #list-bar{
        display: none;
    }
    #main-text{
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    #boxs-text{
        display: flex;
        flex-direction:column;
        font-family: 'Roboto';
        font-style: normal;
        margin: auto;
        justify-content: space-around;
        padding: 20px;
    }
    
    
    #company{
        margin-left: 50px;
        padding: 0px;
        width: fit-content;
        height:fit-content ;
    }
}
